notebooks/*
__pycache__/
**/__pycache__/*
**/__pycache__/**
mlruns/**
mlartifacts/**

data/*.jsonl
data/*.csv
data/train/*.tif
data/test/*.tif

*.log

!app_data/data/.gitkeep
!app_data/model/.gitkeep
!app_data/output/.gitkeep
!app_data/.gitkeep

app_data/data/*.tif
!app_data/model/
app_data/output/*